@using System.Xml;

@{ ViewBag.Title = "Home Page"; }

@section Scripts
{
    <script type="text/javascript">

        $(function () {

            $("#btnDelete").click(function () {

                $.ajax({
                    type: "GET",
                    url: '/Home/Delete',

                });

            });
        });

        $(function () {

            $("#btnCheck").click(function () {

                $.ajax({
                    type: "GET",
                    url: '/Home/Delete',

                });

            });
        });
    </script>
}

<body>

    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <h2>Links</h2>

                <form action="/Home/CheckLinks" method="GET">
                    <button type="submit" class="btn btn-primary">Check Links</button>
                </form>

                @*<button class="btn btn-primary" id="btnCheck">Check Links</button>*@

                <br /><br />
                <ul class="list-group list-group-flush">
                    @foreach (string link in ViewBag.XmlLinks)
                    {
                        <li class="list-group-item">
                            <h4>@link</h4>
                        </li>
                    }
                </ul>
            </div>


            <div class="col-md-5">
                <h2>Log list</h2>
                <form action="/Home/Delete" method="GET">
                    <button type="submit" class="btn btn-danger">Delete All</button>
                </form>

                @*<button class="btn btn-danger" id="btnDelete">Delete All</button>*@


                <br /><br />
                <ul class="list-group list-group-flush">
                    @foreach (string nw in ViewBag.XmlLinksNotWorking)
                    {
                        <li class="list-group-item">
                            <h5 style="color:red">@nw</h5>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</body>